<footer class="footer">
  <div class="footer_container">
    <div class="container_item">
      <div class="item-title">About us</div>
      <ul>
        <li>
          <a href="#">What is MoverSmith</a>
        </li>
        <li>
          <a href="#">How it Works</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Agreement</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
      </ul>
    </div>
    <div class="container_item">
      <div class="item-title">Partnerships</div>
      <ul>
        <li>
          <a href="#">Become a Partner</a>
        </li>
        <li>
          <a href="#">For Service Providers</a>
        </li>
        <li>
          <a href="#">Corporate Relocation</a>
        </li>
        <li>
          <a href="#">For Real Estate Agents</a>
        </li>
      </ul>
    </div>
    <div class="container_item">
      <div class="item-title">Services</div>
      <ul>
        <li>
          <a href="#">Local Moving</a>
        </li>
        <li>
          <a href="#">Interstate Moving</a>
        </li>
        <li>
          <a href="#">Moving Truck Rental</a>
        </li>
        <li>
          <a href="#">Hiring Movers</a>
        </li>
        <li>
          <a href="#">Warehouse</a>
        </li>
        <li>
          <a href="#">Self Storage</a>
        </li>
      </ul>
    </div>
    <div class="container_item">
      <div class="item-title">Blog</div>
      <ul>
        <li>
          <a href="#">Moving Tips</a>
        </li>
        <li>
          <a href="#">Moving Costs</a>
        </li>
        <li>
          <a href="#">Before Moving</a>
        </li>
        <li>
          <a href="#">Deals</a>
        </li>
      </ul>
    </div>
    <div class="container_item">
      <div class="item-title">What is MoverSmith?</div>
      <p class="item-about">
        Amet minim mollit non deserunt ullamco est sit<br />
        aliqua dolor do amet sint. Velit officia consequat<br />
        duis enim velit mollit.
      </p>
      <div class="item_social">
        <ul>
          <li>
            <a href="">
              <img src="../../assets/footer/icon-facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../assets/footer/icon-twitter.svg" alt="Twitter" />
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../../assets/footer/icon-instagram.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../assets/footer/icon-youtube.svg" alt="Youtube" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_subfooter">
    <div class="subfooter_logo">
      <img src="../../assets/logo-big.svg" alt="Logo MoverSmith" />
    </div>
    <div class="subfooter_about">
      <p>
        MoverSmith is a Supplier Member of the American Moving & Storage
        Association © MoverSmith LLC 2021
      </p>
    </div>
    <div class="subfooter_logo-amsa">
      <img src="../../assets/logo-amsa.svg" alt="Logo Amsa" />
    </div>
  </div>
</footer>
