<article class="details">
  <div class="details_mover">
    <div class="mover_header">
      <div class="header_about">
        <h1>My Move plan</h1>
        <p align="center">
          Here's the breakdown for your Guaranteed Price from Braha Moving
          Systems - Charlotte,<br />
          only when you book online at MoverSmith
        </p>
      </div>
      <div class="header_close">
        <a href="#" mat-dialog-close>
          close
          <img src="../../assets/icon-close.svg" alt="Close details" />
        </a>
      </div>
    </div>
    <div class="mover_body">
      <div class="body_company">
        <div class="company_image">
          <img src="../../assets/icon-mover.svg" alt="Your mover" />
        </div>
        <div class="company_about">
          <h1>NYC Great Movers</h1>
          <p>Bronx, NY</p>
        </div>
      </div>
      <div class="body_update-plan">
        <button>update move plan</button>
      </div>
    </div>
  </div>
</article>
