<!-- <div class="div">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" type="email" />
  </mat-form-field>
</div> -->

<!-- <section class="section">
  <div class="header">
    <div class="header_register-login">
      <div class="register-login-register">
        <a href="">register</a>
      </div>
      <div class="register-login-login">
        <a href="">log in</a>
      </div>
    </div>
    <div class="header_close">
      <ul>
        <li><p>close</p></li>
        <li><img src="../assets/icon-close.svg" alt="Close" /></li>
      </ul>
    </div>
  </div>
  <div class="body">
    <h1 class="body_title">Sign up to continue ordering</h1>
    <form action="" [formGroup]="registerForm">
      <div class="body_field-email">
        <mat-form-field class="field field-email">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Enter your email"
            type="email"
            formControlName="email"
          />
        </mat-form-field>
        <span class="error-field" *ngIf="email?.invalid && email?.touched"
          >Email is required and must be valid</span
        >
      </div>
      <div class="body_field-password">
        <mat-form-field class="field">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="body_field-confirm-password">
        <mat-form-field class="field">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="body-checkbox">
        <mat-checkbox class="example-margin" [(ngModel)]="checkboxLabel">{{
          checkboxLabel
        }}</mat-checkbox>
      </div>
      <div class="button body_create-account">
        <a href="">create account</a>
      </div>
    </form>
    <div class="body_login-via">
      <div class="button via-facebook">
        <img src="../assets/icon-facebook.svg" alt="Logo facebook" />
        Facebook Login
      </div>
      <div class="button via-google">
        <img src="../assets/icon-google.svg" alt="Logo google" />
        Google login
      </div>
    </div>
  </div>
</section> -->
<!-- <app-step5></app-step5> -->
<!-- <app-signupin></app-signupin> -->
<!-- <app-footer></app-footer> -->
<app-stepper></app-stepper>
